{% extends "base.html" %}
{% block content %}

<h3 class="display-3 primary text-center">Add Gardener</h3>


<div class="row card primary">
    <form class="col sm-12" method="POST" action ="{{ url_for('add_gardener') }}">
        <!--gardener_name-->
        <div class=" row mb-3">
            <label for="gardener_name" class="form-label">Gardener Name</label>
            <input type="text" class="form-control validate" id="gardener_name" name="gardener_name" minlength="3" maxlength="50" aria-describedby="gardenerName" required>
        </div>
        <!--region-->
        <div class=" row mb-3">
            <label for="region_id" class="form-label">Region</label>
            <select name="region_id" class="form-select">
                {% for region in regions %}
                <option value="{{ region.id }}">{{ region.region_name }}</option>
                {% endfor %}
            </select>
        </div> 
        <!--services offered-->
        <div class=" row mb-3">
            <label for="services_offered" class="form-label">Service(s) Offered</label>
            <select name="services_offered" class="form-select" multiple>
                {% for service in services %}
                <option value="{{ service.id }}">{{ service.service_name }}</option>
                {% endfor %}
            </select>
        </div>
         <!--submit_button-->
         <div class=" row mb-3 text-center primary">
            <button type="submit" class="btn btn-lg btn-bs-success-bg-subtle">
                Add Gardener <i class="fas fa-plus-square right"></i>  
            </button>
            
        </div>
    </form>
</div>

{% endblock %}