{% extends "base.html" %}
{% block content %}

<h3 class="display-3 primary text-center">Add Service</h3>


<div class="row card primary">
    <form class="col sm-12" method="POST" action ="{{ url_for('add_service') }}">
        <!--service_name-->
        <div class=" row mb-3">
            <label for="service_name" class="form-label">Service Name</label>
            <input type="text" class="form-control validate" id="service_name" name="service_name" minlength="3" maxlength="50" required>
        </div>
        <!--service_description-->
        <div class=" row mb-3">
            <label for="service_description" class="form-label">Service Description</label>
            <input type="text" class="form-control validate" id="service_description" name="service_description" required>
        </div>
        <!--price-->
        <div class=" row mb-3">
            <label for="price" class="form-label">Price (£)</label>
            <input type="number" class="form-control validate" id="price" name="price" required>
        </div>
         <!--submit_button-->
         <div class=" row mb-3 text-center primary">
            <button type="submit" class="btn btn-lg btn-bs-success-bg-subtle">
                Add Service <i class="fas fa-plus-square right"></i>  
            </button>
            
        </div>
    </form>
</div>

{% endblock %}