{% extends "base.html" %}
{% block content %}

<h3 class="display-3 primary text-center">Regions</h3>


<div class="row justify-content-md-3">
    <div class="col-md-3 text-center"></div>
    <a href="{{ url_for ('add_region') }}" class="btn btn-primary btn-lg">
        Add Region <i class="fas fa-square-plus"></i>
    </a>
</div>

<div class="container text-center">
    <div class="row">
        {% for regions in regions %}
        <div class="col col-sm-8 col-md-3 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ region.region_name }}</h5>
                    <a class="btn btn-primary" href="{{ url_for('edit_region', region_id=region.id) }}" role="button">Edit</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ region.id }}">
                        Delete
                      </button>
                    
                    <!-- delete modal-->
                    <div class="modal fade" id="staticBackdrop-{{ region.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, take me back to safety</button>
                              <a href="{{ url_for('delete_region', region_id=region.id) }}" class="btn btn-danger" >Yes, delete it!</a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        {% endfor %}
     </div>
</div>
{% endblock %}