{% extends "base.html" %}
{% block content %}

<h3 class="display-3 primary text-center">Services</h3>

  {% if session.user == 'admin1' %}
    <div class="row justify-content-md-3">
        <div class="col-md-3 text-center"></div>
        <a href="{{ url_for ('add_service') }}" class="btn btn-primary btn-lg">
            Add Service <i class="fas fa-square-plus"></i>
        </a>
    </div>

  {% endif %}

<div class="container mt-3 w-100 text-center">
  <div class="row row-cols-lg-4 row-cols-md-3 g-4 mt-0 justify-content-center">
    {% for service in services %}
      <section class="mt-2">
        <div class="col d-flex justify-content-center m-auto">
          <div class="service-card">
            <div class="card-body p-4">
              <a href="{{ url_for('gardeners_by_service', service_id=service.id) }}">
                <h4 class="card-title">{{ service.service_name }}</h4>
              </a><br>
                <p class="card-text">{{ service.service_description }}</p>
                <p class="card-text"> Price (£): {{ service.price }}</p>
                
                {% if session.user == 'admin1' %}
                  <div class="card-footer text-center">
                    <a class="btn btn-primary" href="{{ url_for('edit_service', service_id=service.id) }}" role="button">Edit</a>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ service.id }}">
                        Delete
                      </button>
                  </div>
                {% endif %}
                  
            </div>
          </div>
        </div>

      <!-- delete modal-->
          <div class="modal fade" id="staticBackdrop-{{ service.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5">Are you sure you want to delete the {{ service.service_name}} service?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, take me back to safety</button>
                  <a href="{{ url_for('delete_service', service_id=service.id) }}" class="btn btn-danger" >Yes, delete it!</a>
                </div>
              </div>
            </div>
          </div>
      </section>  
    {% endfor %}
  </div>
</div>

{% endblock %}
