@import "../node_modules/bootstrap/scss/variables";


.btn-primary {
    color: #fff; 
    background-color:#a7c957;
    border-color: #386641;
}

.btn-primary:hover {
    color: #fff; 
    background-color: #a7c957;
    border-color: #386641;
}

.btn-bs-success {
    color: #fff; 
    background-color: #386641;
    border-color: #386641;
}

.btn-bs-success {
    color: #fff; 
    background-color: #a7c957;
    border-color: #386641;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Gafata', sans-serif;
    margin-bottom: 100px;
}

main {
    flex: 1 0 auto;
}

html, body {
    min-height: 100%;
    padding: 0px;
}

main {
    width: 100%;
    height: 100%;
}

.garden-font {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fa-seedling {
    color: #006b20;
    padding-right: 10px;
}

.dropdown-menu{
    max-width: fit-content;
}

.navbar {
    font-size:x-large;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.nav-item::after {
    content: "";
    width: 0;
    height: 6px;
    background: #386641;
    position: absolute;
    bottom: -8px;
    left: 0;
    
}

/* Apply animation to the first navigation item */
.nav-item:nth-child(1):hover::after {
    width: 100%;
}

/* Apply animation to the second navigation item */
.nav-item:nth-child(2):hover::after {
    width: 100%;
}

/* Apply animation to the third navigation item */
.nav-item:nth-child(3):hover::after {
    width: 100%;
}
* {
    box-sizing: border-box;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to top, transparent, lightblue);
    z-index: -1;


}
.background .canvas-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    z-index: -1;
}

.footer {
    position: relative;
    bottom: 0;
    
}
.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 600;
    text-align: center;
    z-index: 1;
    background-color: rgba(255,255,255,.5);
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.btn-danger{
    background-color: #BC4749;
}

#flash-msgs {
    font-family: 'Cabin', sans-serif;
    font-size: large;
    height: 35px;
    margin: 0 auto;
    background-color: #386641;
    color: #fff;
}

.flashes h4 {
    line-height: 2;
}

.region-card {
    width: 20rem;
    min-height: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 4px solid #386641; 
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #F2E8CF;
    overflow: hidden;
}

.region-card a{
    color: #006b20 
}

.region-card .btn-primary{
    color: #ffffff 
}

.service-card {
    width: 20rem;
    min-height: 212px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 4px solid #386641; 
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #F2E8CF;
    overflow: hidden;
    text-align: left;
}

.service-card a{
    color: #006b20 
}

.service-card .btn-primary{
    color: #ffffff 
}

.gardener-card {
    width: 20rem;
    min-height: 363px;
    margin-top: 30px;
    margin-bottom: 1rem;
    border: 4px solid #386641; 
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #F2E8CF;
    overflow: hidden;
    text-align: left;
}

.gardener-card .btn-primary{
    color: #ffffff 
}

.gardener-card ul {
    padding-left: 0%;
}

.full-card {
    width: 100%;
    min-height: auto;
    margin-top: 30px;
    margin-bottom: 1rem;
    border: 4px solid #386641; 
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    color: #13245D;
    background-color: #f2e8cf;
    overflow: hidden;
    text-align: left;
}

.card-title {
    text-align: center;
}

.form-label {
    font-weight: 600;
    color: #006b20;
}

/* Media query for screens between 768px and 900px */
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .gardener-card {
        min-height: 428px;
    }

    .service-card {
        min-height: 312px;
    }
}

/* Media query for screens between 900px and 1200px */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .gardener-card {
        min-height: 429px;
    }

    .service-card {
        min-height: 315px;
    }
}

/* Media query for screens over 1200px */
@media only screen and (min-width: 1200px) {
    .gardener-card {
        min-height: 429px;
    }

    .service-card {
        min-height: 292px;
    }
}

