body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.fa-seedling {
    color: #007a56;
    padding-right: 10px;
}

.dropdown-menu{
    max-width: fit-content;
}

.navbar {
    font-size:x-large
}